<app-navbar></app-navbar>

<app-page-header title="Contacts" icon="fas fa-book" description= " Welcome to contacts section"></app-page-header>

<app-side-final></app-side-final>


<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Product</th>
      <th scope="col">Number Of Pieces</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>

    <!--loop-->
    <tr>
      <th scope="row">1</th>
      <td>tomer</td>
      <td>alayof</td>
      <td>kalisher 26</td>
      <td>rishon le zion</td>
      <td>iphone</td>
      <td>5</td>
      <td>20</td>
    </tr>
    <!--/loop-->


  </tbody>
</table>
</div>